html {
	box-sizing: border-box;
	background: #CBCCA9; 
}

*, *:before,*:after {
	box-sizing: inherit;
}


header {
min-height: 100px;
height: 5%;
width:100%;
display: block;
background: #BBB46E;
}

#aside_left {
width: 15%;
display: inline-block;
float: left;
background: #A75557; 
min-height: 100px;
margin: 0px;
padding: 0px;
}


#aside_right {
width: 15%;
display: inline-block;
float: right;
background: #A75557; 
min-height: 100px;
}


#section{
width: 70%;
display: inline-flex;
background: #CBCCA9; 
min-height: 100px;
}

footer {
height: 5%;
width: 100%;
background: #BBB46E; 
min-height: 100px;
margin: 0px;
padding: 0px;
margin-top: -10px;
}

#ex1Slider .slider-selection {
	background: #ffffff;
}

.tooltip {
	display: none;
}

#id_hori_slider_wrap,
#id_verti_slider_wrap {
    width: 30%;
    display: inline-block;
    min-height:200px;
    text-align: center;
}


#id_hori_slider_wrap {
	background: #eee;
	padding: 20px;
}

#id_verti_slider_wrap {
    background: #aaa;
    padding: 20px;
}

.slider-vertical {
	height:100px !important;
}
.slider.slider-horizontal,input {
	width: 100% !important;
	margin-bottom: 5px;
}